input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

span {
  display: block;
}

.generate-number {
  font-size: 20px;
  margin: 20px 0;
}

.generate-number label {
  font-weight: 600;
}

.result {
  font-weight: 600;
}
