#greeting {
  margin: 0;
  font-size: 50px;
  font-family: system-ui, -apple-system;
  text-shadow: 2px 2px 3px black;
}

#login-form input {
  background: none;
  border: none;
  border-bottom: 2px solid whitesmoke;
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
  transform: translateY(30px);
}

#login-form input::placeholder {
  color: white;
  text-align: center;
}

#login-form input:focus {
  outline: none;
}
